:root {
    --colorSecundarioText: #FF7171;
}


.section-titulo__secundario {
    color: var(--colorSecundarioText) !important;
}

.card-button {
    display: flex;
    justify-content: center;
    cursor: pointer !important;
}

.btn-informacion {
    background-color: var(--colorSecundarioText) !important;
    border:none;
    width: 60% !important;
}


/* ---------------------------------------------------------> INFORMACION */
.card-imagen img {
    width: 100%;
    height: 10%;
}
