:root {
    --colorSecundario: #FF7171;
}


.section-titulo__secundario {
    color: var(--colorSecundario) !important;
}

.card-button {
    display: flex;
    justify-content: center;
}

.btn-informacion {
    background-color: var(--colorSecundario) !important;
    border:none;
    width: 60% !important;
    cursor: pointer !important;
}


/* ---------------------------------------------------------> INFORMACION */
.card-imagen img {
    width: 100%;
    height: 10%;
}

.btn-aportar {
    background-color: var(--colorSecundario) !important;
    border-color:  var(--colorSecundario) !important;
}

.botones-informacion {
    display:flex;
    justify-content: space-evenly;
}